

.title{
    margin-left: 300px;
}

.find-product{
    margin-left: 50%;
}

.add-new-item{
    margin-left: 30%;
}


.main-content{
    display: flex;
}

.content{
    flex-basis: 85%;
}

.side-bar{
    
    flex-basis: 15%;
}

.action{
    display: flex;
    justify-content: space-around;
}
.product-img{
    width: 180px;
}
#loginLink{
    text-decoration: none;
}
