.barChart{
    width: 50%;
    max-width:600px;
}

.title{
    text-align: center;
}

.Chart{
    margin-left: 20%;
}

.chartTitle{
    text-align: center;
    font-size: large;
    font-weight: bold;
}