<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
            />
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        <script
            src="https://kit.fontawesome.com/2e0789eef1.js"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://kit.fontawesome.com/2e0789eef1.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="/css/hder-fter.css" />
        <script src="/js/change_password.js"></script>
        <title>Đổi mật khẩu</title>
    </head>
    <body>
        <div class="container">
            <header th:replace="header :: header"></header>
            <div class="align-items-center mt-3">  
                <ul class="nav nav-tabs">
                    <div sec:authorize="hasRole('USER')">
                        <li class="nav-item">
                            <a class="nav-link" href="/user/profile">Thông tin cá nhân</a>
                        </li>
                    </div>

                    <li class="nav-item">
                        <a class="nav-link active" href="/user/show_change_password">Đổi mật khẩu</a>
                    </li>
                </ul>
                <div class="profile align-items-center col-12 mt-3">
                    <h1>Đổi mật khẩu</h1>

                    <form action="/user/change_password" method="POST">

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Nhập mật khẩu cũ:</label>
                            <div class="col-lg-4">
                                <input class="form-control" 
                                       name="txtOldPassword"
                                       type="password" value="">
                                <span class="text text-danger" th:text="${MSG}"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Nhập mật khẩu mới:</label>
                            <div class="col-lg-4">
                                <input class="form-control" 
                                       id="password"
                                       name="txtNewPassword"
                                       onChange="check()"
                                       type="password" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Nhập lại mật khẩu mới:</label>
                            <div class="col-lg-4">
                                <input class="form-control" 
                                       id="confirm_password"
                                       onChange="check()"
                                       type="password" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label"></label>
                            <div class="col-lg-4">
                                <input type="submit" class="btn btn-primary" value="Lưu thay đổi">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <footer th:replace="footer :: footer"></footer>
        </div>
    </div>
</div>
<hr>
</body>
</html>