<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<main>
    <h2>Beautiful Google Charts</h2>
    <h5>Daily Page Hits</h5>
    <div id="bar-chart"></div>
    <link rel="stylesheet" href="./css/dashboard.css">
    <script src="./js/dashboard.js"></script>
    
    <!--<button id="on_button">Click Me!!</button>-->
    <select id="ddlViewBy">
  <option value="1" selected="selected">test1</option>
  <option value="2" >test2</option>
  <option value="3">test3</option>
</select>
</main>
</body>
</html>