<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Home page</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
        <script src="https://kit.fontawesome.com/2e0789eef1.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="css/hder-fter.css" />
    </head>

    <body>
        <!--Header-->
        <header class="hder">
            <nav class="navbar navbar-expand-lg navbar-light" id="nav">
                <div sec:authorize="isAnonymous()">
                    <a class="navbar-brand" href="/">SMM</a>
                </div>
                <div sec:authorize="hasRole('ROLE_USER')">
                    <a class="navbar-brand" href="/">SMM</a>
                </div>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="navbar-brand" href="/admin-page">SMM</a>
                </div>
                <div sec:authorize="hasRole('ROLE_DELIVERY_MAN')">
                    <a class="navbar-brand" href="/shipStaff">SMM</a>
                </div>
                <div sec:authorize="hasRole('ROLE_STORAGE_MAN')">
                    <a class="navbar-brand" href="/repoStaff">SMM</a>
                </div>

                <div class="collapse navbar-collapse order-3 order-lg-2" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <div sec:authorize="isAnonymous()">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                            </li>
                        </div>
                        <div sec:authorize="hasRole('ROLE_USER')">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                            </li>
                        </div>
                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <li class="nav-item active">
                                <a class="nav-link" href="/admin-page">Home<span class="sr-only">(current)</span></a>
                            </li>
                        </div>
                        <div sec:authorize="hasRole('ROLE_DELIVERY_MAN')">
                            <li class="nav-item active">
                                <a class="nav-link" href="/shipStaff">Home<span class="sr-only">(current)</span></a>
                            </li>
                        </div>
                        <div sec:authorize="hasRole('ROLE_STORAGE_MAN')">
                            <li class="nav-item active">
                                <a class="nav-link" href="/repoStaff">Home<span class="sr-only">(current)</span></a>
                            </li>
                        </div>

                        <li class="nav-item">
                            <a class="nav-link" href="#">About us</a>
                        </li>
                    </ul>
                </div>

                <div class="d-flex flex-row order-2 order-lg-3">
                    <ul class="navbar-nav flex-row">
                        <div sec:authorize="hasRole('ROLE_USER')">
                            <li class="nav-item">
                                <a href="/showCart" id="cart">
                                    <i class="fa badge fa-lg mt-1 pt-3" id="cartIcon" th:value="${cartSize}">&#xf07a;</i>
                                </a>
                            </li>
                        </div>
                        <div sec:authorize="isAnonymous()">
                            <li class="nav-item">
                                <button type="button" class="btn btn-info btn-light ml-3 mr-3">
                                    <a id="loginLink" th:href="@{/login}">Login</a>
                                </button>
                            </li>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <li class="nav-item mr-3 mt-1" id="profile">
                                <div class="dropdown">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" 
                                         alt="user" 
                                         class=" ml-3
                                         rounded-circle border border-dark dropdown-toggle" 
                                         style="width:33px;"
                                         data-toggle="dropdown"
                                         />
                                    <div class="dropdown-menu" id="profile-dropdown">
                                        <div class="dropdown-header">
                                            <div th:if="${#authentication.getPrincipal().getUser()}">
                                                <span th:text="${#authentication.getPrincipal().getUser().fullName}"></span>
                                            </div>
                                            <div th:if="${#authentication.getPrincipal().getEmployee()}">
                                                <span th:text="${#authentication.getPrincipal().getEmployee().fullName}"></span>
                                            </div>
                                        </div>
                                        <a class="dropdown-item" href="#">Profile</a>
                                        <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                                    </div>
                                </div>
                            </li>
                        </div>


                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                    </ul>
                </div>


            </nav>
        </header>
        <!--Header-->
    </body>

</html>