<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>QR Scanner</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://kit.fontawesome.com/2e0789eef1.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <link rel="stylesheet" href="/css/hder-fter.css"/>
        <script src="/js/import.js"></script>

        <link rel="stylesheet" href="/css/product_detail.css"/>
    </head>

    <body onload="loadProduct()">
        <div class="container">
            <header th:replace="header :: header"></header>
            <div id="content" class="pd-wrap">
                <div class="container">
                    <div class="row justify-content-center mb-5">
                        <h2 class="text ">Product Details</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="slider" class="owl-carousel product-slider">
                                <div class="item">
                                    <img id="imgProduct"
                                         src="" 
                                         style="width:100%"
                                         class="shadow"
                                         />
                                </div>

                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="product-dtl">
                                <div class="product-info">
                                    <div id="title" class="product-name mt-5 mt-md-0 text text-uppercase"></div>
                                    <div id="price" class="product-price-discount"><span></span></div>
                                </div>
                                <p id="description" class="bg-light p-3 rounded"></p>

                                <div class="product-count">
                                    <label for="size">Quantity</label>
                                    <form action="#" class="display-flex">
                                        <div class="qtyminus">-</div>
                                        <input type="text" name="quantity" value="1" 
                                               class="qty"
                                               id="quantity-input">
                                            <div class="qtyplus">+</div>
                                    </form>
                                    <a href="#" class="round-black-btn" onclick="addToCart()">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <footer th:replace="footer :: footer"></footer>
        </div>

        <input type="hidden" id="product_id" name="" th:value="${product_id}"/>
        <script src="/js/preventBackButton.js"></script>
        <script src="/js/product_detail.js"></script>

    </body>

</html>