<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Order summary</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
        <script src="https://kit.fontawesome.com/2e0789eef1.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./css/hder-fter.css" />
        <script src="./js/preventBackButton.js"></script>
        <link rel="stylesheet" th:href="@{/css/scanner.css}">
    </head>
    <body>
        <div class="container">
            <header th:replace="header :: header"></header>

            <!--content!-->
            <input type="hidden" th:value="${order.orderID}" id="orderId"/>
            <div class="content">
                <div class="row justify-content-center"><h1>Summary order</h1></div>
                <div class=" justify-content-center">
                    <div class="row justify-content-center" >
                        <div>Address:</div>
                        <div th:text="${order.shippingAddress}"></div>
                    </div>
                    <div class="row justify-content-center" >
                        <div>Phone:</div>
                        <div th:text="${order.phone}"></div>
                    </div>
                    <div class="row justify-content-center" >
                        <div>Email:</div>
                        <div th:text="${order.email}"></div>
                    </div>
                    <div class="row justify-content-center" >
                        <div>Total:</div>
                        <div th:text="${order.total}"></div>
                    </div>
                    <div class="row justify-content-center" >
                        <div>UserID:</div>
                        <div th:text="${order.userID}"></div>
                    </div>
                    <div class="row justify-content-center">
                        <button class="btn btn-success" onclick="action()">Done</button>
                    </div>
                </div>
                
                
            </div>
            <!--content!-->

            <footer th:replace="footer :: footer"></footer>
        </div>
        <script src="./js/qrcode_summary_order_shipper.js"></script>
    </body>
</html>
