<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Update Product</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>
            Update Product
        </h1>
        <form th:action="@{/products/id} (id=${product.id})" th:object="${product}" method="POST">
            <div class="form-group">
                <input type="text" name="productID" th:field="*{productID}" placeholder="Enter productID" />
                <br>
                <input type="text" name="productName" th:field="*{productName}" placeholder="Enter productName" />
                <br>
                <input type="text" name="productQuantity" th:field="*{productQuantity}" placeholder="Enter productQuantity" />
                <br>
                <button type="submit">
                    Update
                </button>
            </div>
        </form>
    </body>
</html>
